{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="row my-auto vh-100">
    <div class="col-md-8 col-sm-10 mx-auto my-auto">
      <div class="card">
        <div class="row">
          <div class="">
            <a
              href="{% url 'home' %}"
              class="text-center btn btn-dark mt-3 mx-3"
              >Ir al inicio</a
            >
            <h1 class="fw-bold text-center my-5">Agendar hora</h1>
            <h2 class="fw-bold text-center my-5">2. Elegir medico</h2>
            <div class="d-flex justify-content-center flex-column">

            <form
                method="GET"
                action="{% url 'seleccionar_hora' %}"
                id="agendarForm"
                class="px-5"
              >
                {% csrf_token %}
                  
                <div class="form-group">
                  <label for="run">Selecciona un medico:</label>
                  <select
                    class="form-control mb-3"
                    id="run"
                    name="run"
                  >
                  {% for medico in medicos_data %}
                    <option value="{{ medico.run }}">{{ medico.nombre }} {{ medico.apellido }} {{ medico.run }}</option>
                  {% endfor %}  
                  </select>
                </div>
                 
                <button type="submit" id="agendarButton" class="btn btn-dark mb-5">
                  Siguiente
                </button>

              </form>

              <div id="alertUsuarioSuccess" class="d-none alert alert-success">
                Usuario registrado con éxito
              </div>

              <div id="alertError2" class="d-none alert alert-danger mx-3 mb-5">
                Error en el registro:
              </div>

              <script>
                const agendarForm = document.getElementById("agendarForm");
                const agendarButton = document.getElementById("agendarButton");

                agendarForm.addEventListener("submit", async (e) => {
                  e.preventDefault();

                    const data = new FormData(agendarForm);
                    console.log("aca estoy");
                    try {
                    const response = await fetch(`/seleccionar_hora/?${new URLSearchParams(data)}/`, {
                        method: "GET",
                    });

                    if (response.status === 200) {
                        console.log("hola2");
                        const urlParams = new URLSearchParams(data);
                        const urlString = `/seleccionar_hora/?${urlParams.toString()}`;
                        window.location.href = urlString;
                    } else {
                        null;
                    }
                    } catch (error) {
                        console.log("hola4");
                    }
                });


              </script> 

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}