<div class="col-sm-12 col-md-2">
    <div class="card mb-2">
      <ul class="list-group list-group-flush">
        <a class="list-group-item" href="{% url 'pacientes'  %}">Pacientes</a>
        <a class="list-group-item" href="{% url 'medicos'  %}">Medicos</a>
        <a class="list-group-item" href="{% url 'registermedico'  %}">Registar Medico</a>
        <a class="list-group-item" href="{% url 'citas_medicas'  %}">Ver Citas</a>
        <a class="list-group-item" href="{% url 'formulario_cita'  %}">Agendar hora</a>
      </ul>
    </div>
  </div>