{% extends 'base.html' %} {% block content %}
<div class="container-fluid px-5 bg-light my-5">
  <div class="row">
    {% include 'base_menu.html' %}
    <div class="col-sm-12 col-md-10">
      <section class="card p-5">
        <h4 class="card-title mb-4 fw-bold text-success">Citas Medicas</h4>
        <!-- No necesitas el campo de búsqueda en este contexto -->

        <div class="table-responsive" style="height: max-content">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Run Paciente</th>
                <th scope="col">Run Médico</th>
                <th scope="col">Hora Inicio</th>

              </tr>
            </thead>
            <tbody>

              {% for cita in citas_data %}
              <tr>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.Run_paciente }}</td>
                <td>{{ cita.Run_medico }}</td>
                <td>{{ cita.hora_inicio }}</td>
                <td>
                  <a href="{% url 'anular_cita' cita.ID_agenda %}" class="btn btn-danger">Anular hora</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
